<br>
<div class="col-md-2 col-sm-3 text-center">
    <a class="story-title" href="#/authors/{{item.id}}"><img alt="{{item.name}}" ng-src="{{item.profile_image_url}}" style="width:70px;height:70px" class="img-circle"></a>
</div>
<div class="col-md-10 col-sm-9">
    <h4><a class="story-title" href="#/authors/{{item.id}}">{{item.screen_name}}</a></h4>
    <h3>{{item.description}}</h3>
    <div class="row">
        <div class="col-xs-9">
            <h4><span class="label label-default" >{{item.location}}</span></h4><h4>
            <small style="font-family:courier,'new courier';" class="text-muted">{{item.date| date:'medium'}}  • <a href="#/authors/{{item.id}}" class="text-muted">Read More</a></small>
        </h4></div>
        <div class="col-xs-3"></div>
    </div>
    <br><br>
</div>
